<section class="aboutme">

	<div class="selfie-container">
		<div class="selfie selfie-1"></div>
		<div class="selfie selfie-copy"></div>
	</div>
	<div id="profile-links">
		<p>
			<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "linkedin" %></a> |
			<a href="https://github.com/melmar12" target="_blank"><%= fa_icon "github-alt" %></a> |
			<a href="#footer"><%= fa_icon "envelope" %></a>
		</p>
	</div>
	<div class="module-container">

		<p>I'm Melissa, a Computer Science student and Web Developer based in Houston, Texas. I attend the University of Houston and expect to graduate in Spring 2020. I'm available for Summer internships. I'm seeking a position where I can utilizie my frontend and javascript expierence, continue to expand my skillset and have fun while meeting and learning from new people. I'm also open to relocation 🚀  If you're looking for someone to join your team, feel free to contact me and we can chat!</p>

		<p>
			
		</p>

		<div class="skillset">
			<h3>What I <span>Know</span></h3>
			<div class="container">
				<div class="skill"><%= image_tag "html5.png" %><span>HTML5</span></div>
				<div class="skill"><%= image_tag "css3.svg" %><span>CSS3</span></div>
				<div class="skill"><%= image_tag "sass.svg" %><span>SASS</span></div>
				<div class="skill"><%= image_tag "ps.svg" %><span>photoshop</span></div>
				<div class="skill"><%= image_tag "js.png" %><span>JavaScript</span></div>
				<div class="skill"><%= image_tag "node.png" %><span>Node</span></div>
				<div class="skill"><%= image_tag "react.svg" %><span>React</span></div>
				<div class="skill"><%= image_tag "git.png" %><span>git</span></div>
				<div class="skill"><%= image_tag "java.svg" %><span>Java</span></div>
				<div class="skill"><%= image_tag "cplusplus.png" %><span>C++</span></div>
				<div class="skill"><%= image_tag "python.png" %><span>Python</span></div>
				<div class="skill"><%= image_tag "db.png" %><span>SQL</span></div>
				<div class="skill"><%= image_tag "ruby.png" %><span>Ruby</span></div>
				<div class="skill"><%= image_tag "rails.png" %><span>Rails</span></div>
				<div class="skill"><%= image_tag "jekyll.svg" %><span>Jekyll</span></div>
				<div class="skill"><%= image_tag "heroku.png" %><span>Heroku</span></div>
				<div class="skill"><%= image_tag "aws.png" %><span>AWS</span></div>
			</div>
		</div>

		<div class="skillset">
			<h3>What I'm <span>Learning</span></h3>
			<div class="container">
				<div class="skill"><%= image_tag "redux.png" %><span>Redux</span></div>
				<div class="skill"><%= image_tag "webpack.png" %><span>webpack</span></div>
				<div class="skill"><%= image_tag "d3.png" %><span>d3.js</span></div>
			</div>
		</div>
	</div>
</section>
