<section class="aboutme">
	<div class="selfie-container">
		<div class="selfie selfie-1"></div>
		<div class="selfie selfie-copy"></div>
	</div>
	<div id="profile-links">
		<p>
			<a href="https://www.linkedin.com/in/melissa-martinez-b3599290"><%= fa_icon "linkedin" %></a> |
			<a href="https://github.com/melmar12"><%= fa_icon "github-alt" %></a>
		</p>
	</div>

	<p>I'm Melissa, a Web Developer from in Houston, Texas. I recently graduated from the University of Houston with a degree in <a href="http://www.bauer.uh.edu/undergraduate/mis/index.php">Management Information Systems</a>. I'm currently available for work and seeking frontend dev positions. If you're looking for someone to join your team or some help on your next project, feel free to drop me a line and we can chat!</p>

	<div class="skillset">
		<%= image_tag "html5.png" %>
		<%= image_tag "css3.svg" %>
		<%= image_tag "sass.svg" %>
		<%= image_tag "js.png" %>
		<%= image_tag "react.svg" %>
		<%= image_tag "git.png" %>
		<%= image_tag "java.svg" %>
		<%= image_tag "db.png" %>
		<%= image_tag "ruby.png" %>
		<%= image_tag "rails.png" %>
	</div>

</section>
