<section class="aboutme">
	<%= image_tag "selfie.jpg", class: "selfie" %>
	<p>Hi I'm Melissa, I make websites. For the past couple of years I have been dabbling in the world of web development. It was after I found myself hanging around all the developers at a Startup Weekend that I decided this was the career path I wanted to take. I have been particularly drawn to Front End web development, and my long term goal is to <i>master</i> full stack development. I'm currently a student at the University of Houston getting a degree in <a href="http://www.bauer.uh.edu/undergraduate/mis/index.php">Management Information Systems</a> expected to graduate in May of 2017. I'm available for a summer 2016 internship or freelance work.</p>
	<div class="skillset">
		<%= image_tag "html5.png" %>
		<%= image_tag "css3.svg" %>
		<%= image_tag "sass.svg" %>
		<%= image_tag "js.png" %>
		<%= image_tag "jquery.png" %>
		<%= image_tag "git.png" %>
		<%= image_tag "octocat.png" %>
		<%= image_tag "java.svg" %>
		<%= image_tag "ruby.png" %>
		<%= image_tag "rails.png" %>
	</div>	
</section>