<section class="aboutme">
	<div class="selfie-container">
		<div class="selfie selfie-1"></div>
		<div class="selfie selfie-copy"></div>
	</div>
	<div id="profile-links">
		<p>
			<a href="https://www.linkedin.com/in/melissa-martinez-b3599290"><%= fa_icon "linkedin" %></a> |
			<a href="https://github.com/melmar12"><%= fa_icon "github-alt" %></a>
		</p>
	</div>

	<p>I'm Melissa, a Freelance Web Developer currently based in Houston. I'm a student at the University of Houston pursuing a degree in <a href="http://www.bauer.uh.edu/undergraduate/mis/index.php">Management Information Systems</a> and will be graduating in May of 2017. I'm currently available for work, so if you're looking for some help on your next project, drop me a line! I'd love to lend a hand.</p>

	<div class="skillset">
		<%= image_tag "html5.png" %>
		<%= image_tag "css3.svg" %>
		<%= image_tag "sass.svg" %>
		<%= image_tag "js.png" %>
		<%= image_tag "react.svg" %>
		<%= image_tag "git.png" %>
		<%= image_tag "java.svg" %>
		<%= image_tag "db.png" %>
		<%= image_tag "ruby.png" %>
		<%= image_tag "rails.png" %>
	</div>

</section>
