<div class="aboutme">
	<%= image_tag "selfie.jpg" %>
	<p>Pie gummies marzipan chocolate gummi bears chupa chups. Sweet roll jelly-o topping bonbon toffee dragée candy canes. Toffee jelly beans liquorice marzipan. Topping ice cream caramels halvah lemon drops liquorice. Chocolate gummies tiramisu marshmallow. Soufflé cookie gummi bears dessert chupa chups jujubes tart cake. Bear claw apple pie jelly-o halvah apple pie dragée bear claw jujubes. Wafer brownie tart lemon drops gingerbread lemon drops. Gummi bears sesame snaps wafer sweet marzipan croissant gummies tiramisu. Candy macaroon dessert cookie fruitcake toffee wafer.</p>
	<div class="skillset">
		<%= image_tag "html5.png" %>
		<%= image_tag "css3.svg" %>
		<%= image_tag "js.png" %>
		<%= image_tag "git.png" %>
		<%= image_tag "java.svg" %>
		<%= image_tag "jquery.png" %>
		<%= image_tag "octocat.png" %>
		<%= image_tag "rails.png" %>
		<%= image_tag "ruby.png" %>
		<%= image_tag "sass.svg" %>
	</div>	
</div>