<footer>
	<div id="section1">
		<h1>melmar12@live.com</h1>
	</div>
	<div id="section2">
	<p>im social
		<a href="https://twitter.com/melkebbell"><%= fa_icon "twitter" %></a>
		<a href="https://www.instagram.com/melkebbell/"><%= fa_icon "instagram" %></a>
		<a href="https://www.pinterest.com/missmelissanico/"><%= fa_icon "pinterest" %></a>
		<a href="http://stackoverflow.com/users/3646308/melmar12"><%= fa_icon "stack-overflow" %></a>
		<a href="https://soundcloud.com/sillymnm"><%= fa_icon "soundcloud" %></a>
		<a href="https://www.linkedin.com/in/melissa-martinez-b3599290
"><%= fa_icon "linkedin" %></a>
		<a href="https://github.com/melmar12"><%= fa_icon "github-alt" %></a>
	</p>
	</div>
</footer>