<div id="recursive-tree" style="position: relative;">
	<footer id="footer">
		<div id="section1">
			<h1>melmar12@live.com</h1>
		</div>
		<div id="section2">
		<p>socials
			<a href="https://twitter.com/melkebbell" target="_blank"><%= fa_icon "twitter" %></a>
			<a href="https://www.instagram.com/melkebbell/" target="_blank"><%= fa_icon "instagram" %></a>
<!-- 			<a href="https://www.pinterest.com/missmelissanico/" target="_blank"><%= fa_icon "pinterest" %></a> -->
		<!-- 	<a href="http://stackoverflow.com/users/3646308/melmar12"><%= fa_icon "stack-overflow" %></a> -->
			<!-- <a href="https://soundcloud.com/sillymnm"><%= fa_icon "soundcloud" %></a> -->
			<a href="https://www.linkedin.com/in/melissa-martinez-b3599290
	" target="_blank"><%= fa_icon "linkedin" %></a>
			<a href="https://github.com/melmar12" target="_blank"><%= fa_icon "github-alt" %></a>
		</p>
		</div>
	</footer>
</div>
