<div class="projects-image">
<section class="projects">
	<h1>Featured Projects</h1>
	<div class="container">

		<div class="item">
			<a href="https://github.com/melmar12/personal-site2" target="_blank">
				<%= image_tag "proj-web.jpg"%>
				<div class="img-overlay"></div>
				<div class="description">
					<h2>Personal Website</h2>
				</div>
			</a>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/Vendit_v2" target="_blank">
				<%= image_tag "proj-ptc.jpg"%>
				<div class="img-overlay"></div>
				<div class="description">
					<h2>Providence Treatment Center</h2>
				</div>
			</a>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/LlamaDrama" target="_blank">
				<%= image_tag "proj-fez.jpg"%>
				<div class="img-overlay"></div>
				<div class="description">
					<h2>Zappos</h2>
				</div>
			</a>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/accounting-ledger" target="_blank">
				<%= image_tag "proj-acct.jpg"%>
				<div class="img-overlay"></div>
				<div class="description">
					<h2>Accounting Ledger</h2>
				</div>
			</a>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/MIS-Project-Team-Internet" target="_blank">
				<%= image_tag "proj-mis.jpg"%>
				<div class="img-overlay"></div>
				<div class="description">
					<h2>UH Course Project</h2>
				</div>
			</a>
		</div>

	</div>
	<div class="more-projs">
		<h3>More Projects</h3>
		<ul>
			<li><a href="https://github.com/melmar12/Udemy-React-WeatherApp" target="_blank">React-WeatherApp</a></li>
			<li><a href="https://github.com/melmar12/UdemyNode-Chat-App" target="_blank">Nodejs-Chat-App</a></li>
			<li><a href="https://github.com/melmar12/sierpinski-triangle-p5js" target="_blank">sierpinski-triangle-p5js</a></li>
			<li><a href="https://github.com/melmar12/star-field" target="_blank">star-field-p5js</a></li>
		</ul>
	</div>
</section>
</div>
