<div class="projects-image">
<section class="projects">
	<h1>Featured Projects</h1>
	<div class="container">


		<div class="item">
			<div class="description">

				<div class="icons">
					<div class="main-icon">
						<%= fa_icon "file-code-o" %>
					</div>
					<div class="sub-icon">
						<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "github" %></a>
						<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "external-link" %></a>
					</div>
				</div>

				<h2>Social Media Search Feature</h2>
				<ul class="fa-ul"> 
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Showcases a search feature that takes combinations of username, location and tags to deliver matching results.</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Uses React as the frontend to validate and manage user input to be sent to an API</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>The backend API receives a JSON string as a search query and responds with a JSON object containing the results.</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Both backend and frontend run concurrently on a server hosted on Heroku</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Database uses Mongo DB hosted on Atlas</li>
				</ul>
				<div>
					<ul class="tech-used">
						<li>React</li>
						<li>Node.js</li>
						<li>JSON</li>
						<li>Mongo db</li>
						<li>Express.js</li>
						<li>Heroku</li>
					</ul>
				</div>
			</div>
			<a href="https://github.com/melmar12/personal-site2" target="_blank"></a>
		</div>

		<div class="item">
			<div class="description">

				<div class="icons">
					<div class="main-icon">
						<%= fa_icon "file-code-o" %>
					</div>
					<div class="sub-icon">
						<a href="https://github.com/melmar12/Vendit_v2" target="_blank"><%= fa_icon "github" %></a>
						<a href="http://www.providencetreatmentcenter.com/" target="_blank"><%= fa_icon "external-link" %></a>
					</div>
				</div>

				<h2>School Website - for a client</h2>
				<ul class="fa-ul"> 
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Uses Ruby on Rails web-app framework</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Rails Active Record is used to store alerts and user data</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Alerts can be managed and posted to the site by an admin</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>Documents and forms are uploaded with AWS using s3 buckets and are available on the site for download by visitors.</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>JavaScript and SASS are utilized on the frontend for styling the UI.</li>

					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>The website is hosted on Heroku and uses a custom DNS</li>
				</ul>
				<div>
					<ul class="tech-used">
						<li>Ruby</li>
						<li>Rails</li>
						<li>JavaScript</li>
						<li>SASS</li>
						<li>HTML</li>
					</ul>
				</div>
			</div>
			<a href="https://github.com/melmar12/personal-site2" target="_blank"></a>
		</div>

		
		<div class="item">
			<div class="description more-projs-link">
				<h2><a href="" target="_blank">View More Projects</a></h2>
			</div>
		</div>


	</div> <!-- end proj container -->


	<!--
	<div class="more-projs">
		<h3>More Projects</h3>
		<ul>
			<li><a href="" target="blank">React-Insta-Search</a></li>
			<li><a href="https://github.com/melmar12/Udemy-React-WeatherApp" target="_blank">React-WeatherApp</a></li>
			<li><a href="https://github.com/melmar12/UdemyNode-Chat-App" target="_blank">Nodejs-Chat-App</a></li>
			<li><a href="https://github.com/melmar12/sierpinski-triangle-p5js" target="_blank">sierpinski-triangle-p5js</a></li>
			<li><a href="https://github.com/melmar12/star-field" target="_blank">star-field-p5js</a></li>
		</ul>
	</div>
	-->

</section>
</div>
