<div class="projects-image">
<section class="projects">
	<h1>Featured Projects</h1>
	<div class="container">


		<div class="item">
			<div class="description">

				<div class="icons">
					<div class="main-icon">
						<%= fa_icon "file-code-o" %>
					</div>
					<div class="sub-icon">
						<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "github" %></a>
						<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "external-link" %></a>
					</div>
				</div>

				<h2>Project Title</h2>
				<ul class="fa-ul"> 
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>thing something HTML CSS</li>
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>wow cool CSS HTML deploy</li>
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>does really cool stuff on JAVA on this Python over here</li>
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>backend frontend software is cool bet</li>
				</ul>
				<div>
					<ul class="tech-used">
						<li>HTML</li>
						<li>CSS</li>
						<li>JAVA</li>
						<li>JavaScript</li>
					</ul>
				</div>
			</div>
			<a href="https://github.com/melmar12/personal-site2" target="_blank"></a>
		</div>

		<div class="item">
			<div class="description">

				<div class="icons">
					<div class="main-icon">
						<%= fa_icon "file-code-o" %>
					</div>
					<div class="sub-icon">
						<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "github" %></a>
						<a href="https://www.linkedin.com/in/melissa-m-b3599290/" target="_blank"><%= fa_icon "external-link" %></a>
					</div>
				</div>

				<h2>Project Title</h2>
				<ul class="fa-ul"> 
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>thing something HTML CSS</li>
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>wow cool CSS HTML deploy</li>
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>does really cool stuff on JAVA on this Python over here</li>
					<li><span class="fa-li"><%= fa_icon "angle-right" %></span>backend frontend software is cool bet</li>
				</ul>
				<div>
					<ul class="tech-used">
						<li>HTML</li>
						<li>CSS</li>
						<li>JAVA</li>
						<li>JavaScript</li>
					</ul>
				</div>
			</div>
			<a href="https://github.com/melmar12/personal-site2" target="_blank"></a>
		</div>


	</div> <!-- end proj container -->

	<div class="more-projs">
		<h3>More Projects</h3>
		<ul>
			<li><a href="" target="blank">React-Insta-Search</a></li>
			<li><a href="https://github.com/melmar12/Udemy-React-WeatherApp" target="_blank">React-WeatherApp</a></li>
			<li><a href="https://github.com/melmar12/UdemyNode-Chat-App" target="_blank">Nodejs-Chat-App</a></li>
			<li><a href="https://github.com/melmar12/sierpinski-triangle-p5js" target="_blank">sierpinski-triangle-p5js</a></li>
			<li><a href="https://github.com/melmar12/star-field" target="_blank">star-field-p5js</a></li>
		</ul>
	</div>

</section>
</div>
