<div class="projects-image">
<section class="projects">
	<h1>Featured Projects</h1>
	<div class="container">

		<div class="item">
			<a href="https://github.com/melmar12/Vendit_v2" target="_blank">
				<div class="img-overlay">
					<%= image_tag "proj-ptc.jpg"%>
				</div>
			</a>
				<div class="description">
					<h2>Providence Treatment Center</h2>
					<p>Designed and developed a web application for a special needs school using Ruby on Rails framework. The web app hosts downloadable and printable documents stored on the cloud using AWS s3 buckets. Important announcements and alerts (with CRUD functionality) are publicly displayed on the website. Secure user login functionality exists for managing these alerts and documents.</p>
				</div>
				<div class="links">
					<a href="https://github.com/melmar12/Vendit_v2" id="a-div" target="_blank"><%= fa_icon "github-alt" %> Github</a>
					<a href="http://www.providencetreatmentcenter.com/" target="_blank"><%= fa_icon "desktop" %> Live</a>
				</div>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/personal-site2" target="_blank">
				<div class="img-overlay">
					<%= image_tag "proj-web.jpg"%>
				</div>
			</a>
			<div class="description">
				<h2>Personal Website</h2>
				<p>This is my portfolio website to display my various projects. This Ruby on Rails website has a highly responsive design for both desktop and mobile viewing and uses SASS. The grid layout uses CSS flexbox properties. A JavaScript processing library is used to create fun fractal design patterns and animations that are displayed in HTML iframes.</p>
			</div>
			<div class="links">
				<a href="https://github.com/melmar12/personal-site2" id="a-div" target="_blank"><%= fa_icon "github-alt" %> Github</a>
				<a href="http://www.melissamartinez.me/" target="_blank"><%= fa_icon "desktop" %> Live</a>
			</div>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/LlamaDrama" target="_blank">
				<div class="img-overlay">
					<%= image_tag "proj-fez.jpg"%>
				</div>
			</a>
				<div class="description">
					<h2>Zappos</h2>
					<p>I got to get creative and have a little fun with this project as part of the application process for the Frontend Web Developer Intern position at Zappos. The guidelines for the project were pretty simple, "Make a website about llamas", so I decided to keep it that way and create a static website and show them what I could do with vanilla HTML and CSS.</p>
				</div>
				<div class="links">
					<a href="https://github.com/melmar12/LlamaDrama" id="a-div" target="_blank"><%= fa_icon "github-alt" %> Github</a>
					<a href="http://melmar12.github.io/LlamaDrama/" target="_blank"><%= fa_icon "desktop" %> Live</a>
				</div>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/accounting-ledger" target="_blank">
				<div class="img-overlay">
					<%= image_tag "proj-acct.jpg"%>
				</div>
			</a>
				<div class="description">
					<h2>Accounting Ledger</h2>
					<p>Web based general ledger accounting system built with ASP.Net programming environment using Microsoft SQL server and hosted on FileZilla. Utilizes Twitter Bootstrap for styling, and AJAX for form validation and search queries. This was a project for the course, Transaction Processing II.</p>
				</div>
				<div class="links">
					<a href="https://github.com/melmar12/accounting-ledger" id="a-div" target="_blank"><%= fa_icon "github-alt" %> Github</a>
					<a href="http://auckland.bauer.uh.edu/students/gl1425/home.html" target="_blank"><%= fa_icon "desktop" %> Live</a>
				</div>
		</div>

		<div class="item">
			<a href="https://github.com/melmar12/MIS-Project-Team-Internet" target="_blank">
				<div class="img-overlay">
					<%= image_tag "proj-mis.jpg"%>
				</div>
			</a>
				<div class="description">
					<h2>UH Course Project</h2>
					<p>This was a group project for my Web Applications course. In this project we got to utilize git for the first time as a team and work together to get this app working by demo day. The main idea for this app was to have a website that the university could use to display all events going on campus in one centralized location. The main users of the web app would be student org leaders, or the people in charge of hosting events on campus. Students could use the web app to find campus events they were interested in attending.</p>
				</div>
				<div class="links">
					<a href="https://github.com/melmar12/MIS-Project-Team-Internet" id="a-div" target="_blank"><%= fa_icon "github-alt" %> Github</a>
					<a href="https://afternoon-lowlands-61790.herokuapp.com/" target="_blank"><%= fa_icon "desktop" %> Live</a>
				</div>
		</div>

	</div>
	<div class="more-projs">
		<h3>More Projects</h3>
		<ul>
			<li><a href="https://github.com/melmar12/Udemy-React-WeatherApp" target="_blank">React-WeatherApp</a></li>
			<li><a href="https://github.com/melmar12/UdemyNode-Chat-App" target="_blank">Nodejs-Chat-App</a></li>
			<li><a href="https://github.com/melmar12/sierpinski-triangle-p5js" target="_blank">sierpinski-triangle-p5js</a></li>
			<li><a href="https://github.com/melmar12/star-field" target="_blank">star-field-p5js</a></li>
		</ul>
	</div>
</section>
</div>
