<div class="projects-image">
<section class="projects">
	<h1>Featured Projects</h1>
	<div class="container">
		<div class="item">
			<a href="https://github.com/melmar12/personal-site2">
				<%= image_tag "proj-web.jpg"%>
				<div class="description">
					<h2>Personal Website</h2>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="https://github.com/melmar12/Vendit_v2">
				<%= image_tag "proj-ptc.jpg"%>
				<div class="description">
					<h2>Providence Treatment Center</h2>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="https://github.com/melmar12/LlamaDrama">
				<%= image_tag "proj-fez.jpg"%>
				<div class="description">
					<h2>Zappos</h2>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="https://github.com/melmar12/food_blog">
				<%= image_tag "proj-food.jpg"%>
				<div class="description">
					<h2>Food Blog</h2>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="https://github.com/melmar12/MIS-Project-Team-Internet">
				<%= image_tag "proj-mis.jpg"%>
				<div class="description">
					<h2>UH Course Project</h2>
				</div>
			</a>
		</div>
	</div>
</section>
</div>
