<!DOCTYPE html>
<html>
<head>
  <title>Melissa Martinez - Web Developer </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<p>*ahhhhh randon text ignore me im temporary!*
</p>

<%= yield %>
<%= render "footer" %>
</body>
</html>
